extends layout

block content
  h1 Sheet Music Extractor
  div
    audio(controls)
      source(src="/sheet/" + id + "/ogg")
      Your browser does not support HTML5 audio player
  a(href="/sheet/" + id + "/mid") MIDI
  div
    img(src="/sheet/" + id + "/png")
